# Ignore node_modules
node_modules/
frontend/node_modules/

# Ignore Excel and raw data files (to keep the repo light)
*.xlsx
*.csv
S-1202_0098406_00001.xlsx

# MacOS
.DS_Store

# Build folders
frontend/dist/
dist/
build/

# Env files
.env
.env.local

# IDE
.vscode/
.idea/
